{% extends "application.html" %}

{% block title %}Blog - Keyne Oei{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

<div class="container">
<h1 class="text-bold page-title">Medium Blog</h1>

<div class="row" style="margin-top: 3%;">

	{% for eachblog in blogs %}
	<div class="col-sm-4">
		<a href="{{ eachblog.link }}" class="blog-attr" target="_blank">
		<div class="blog-box">
			<div class="datePub"> {{ eachblog.datePub }} </div>
			<h3> {{ eachblog.title }} </h3>
			<div class="content"> {{eachblog.content | safe |striptags| truncatewords:4}} </div>
		</div>
		</a>
	</div>
	
	{% endfor %}
</div>

</div>
<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>

{% endblock %}