{% extends "application.html" %}

{% block title %}404 Error - Keyne Oei{% endblock %}

{% block content %}

{% load static %}

<div class="container">
	<h1 class="text-bold page-title">Wrong Move, Champ!!</h1>
</div>

{% endblock %}