{% extends "application.html" %}

{% block title %}About Me - Keyne Oei{% endblock %}

{% block content %}

{% load static %}

<style type="text/css">
	#footer-modif {
		position: fixed
	}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
<div class="container">
	<h1 class="text-bold page-title">Keyne Kassapa Oei</h1>
	
	<div class="row">
		<div class="col-sm-6 box-text">
			
			See some of my work at

			<div class="row">
				<div class="col-6">
					<a href="http://www.behance.net/keynekassapa13" target="_blank"><i class="fab fa-behance-square"></i> Behance</a> 
					<br/><a href="https://www.linkedin.com/in/keynekassapa/" target="_blank"><i class="fab fa-medium"></i> Linkedin</a>
				</div>
				<div class="col-6">
					<a href="https://medium.com/@keynekassapa13/" target="_blank"><i class="fab fa-medium"></i> Medium</a>
					<br/><a href="http://instagram.com/keynekassapa13/"><i class="fab fa-instagram"></i> Instagram</a>
				</div>
			</div>
			
			
			<br/>Contact her
			<div class="row">
				<div class="col-6"><i class="fas fa-envelope"></i> <a href="href="mailto:keynekassapa13@gmail.com">keynekassapa13@gmail.com</a>
				</div>
				<div class="col-6"><i class="fas fa-mobile-alt"></i><a href="tel:0402-369-708"> 0402369708</a>
				</div>
			</div>
			<p><br/>Creative digital with 2+ years experience in digital design and web development. Experienced in delivering interfaces for websites and mostly acted as the front end developer.</p>
			<div>
				<img src="{% static 'images/key2.png' %}" class="profile-pic">
			</div>
			
		</div>

		<div class="col-sm-6 box-text">


			<h5 class="works-txt"> Work/Project Experience </h5> 

			<?xml version="1.0" encoding="utf-8"?>
			<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
			<svg version="1.1" class="works" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400"
				 viewBox="0 0 450 300" style="enable-background:new 0 0 450 317;" xml:space="preserve">
			<style type="text/css">
				.works .st0{fill:#FFFFFF;}
				.works .st1{font-family:'Lato-Bold';}
				.works .st2{font-size:14px;}
				.works .st3{font-family:'Lato-Medium';}
				.works .st4{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
			</style>
			<g id="Layer_1">
			</g>
			<g id="Layer_7">
				<g id="Layer_8">
					<g class="works-1">
						<circle class="st0" cx="65.3" cy="33.1" r="6.1"/>
						<path d="M65.3,29c2.3,0,4.1,1.9,4.1,4.1c0,2.3-1.9,4.1-4.1,4.1s-4.1-1.9-4.1-4.1C61.1,30.9,63,29,65.3,29 M65.3,25
							c-4.5,0-8.1,3.6-8.1,8.1c0,4.5,3.6,8.1,8.1,8.1s8.1-3.6,8.1-8.1C73.4,28.6,69.8,25,65.3,25L65.3,25z"/>
					</g>
					<text class="works-1" transform="matrix(1 0 0 1 107.0215 37.1216)"><tspan x="0" y="0" class="st1 st2">UI/UX Designer &amp; Front End Developer</tspan><tspan x="0" y="24" class="st3 st2">Jacques Technology, DECO3800</tspan><tspan x="0" y="48" class="st3 st2">Feb - June 2018, Brisbane</tspan></text>
				</g>
				<g>
					<line class="st4 wl-1" x1="65" y1="40" x2="65" y2="133"/>
				</g>
				<g id="Layer_9">
					<g class="works-2">
						<circle class="st0" cx="65.5" cy="138" r="6.1"/>
						<path d="M65.5,133.9c2.3,0,4.1,1.9,4.1,4.1s-1.9,4.1-4.1,4.1s-4.1-1.9-4.1-4.1S63.2,133.9,65.5,133.9 M65.5,129.9
							c-4.5,0-8.1,3.6-8.1,8.1c0,4.5,3.6,8.1,8.1,8.1s8.1-3.6,8.1-8.1C73.6,133.5,70,129.9,65.5,129.9L65.5,129.9z"/>
					</g>
					<text class="works-2" transform="matrix(1 0 0 1 108.0215 143.1216)"><tspan x="0" y="0" class="st1 st2">UI/UX Designer &amp; Front End Developer</tspan><tspan x="0" y="24" class="st3 st2">Peentar Dev House</tspan><tspan x="0" y="48" class="st3 st2">Sept - Nov 2017, Jakarta</tspan></text>
					
				</g>
				<line class="st4 wl-2" x1="65" y1="145" x2="65" y2="232"/>
				<g id="Layer_10">
					<g class="works-3">
						<circle class="st0" cx="65.9" cy="237.9" r="6.1"/>
						<path d="M65.9,233.8c2.3,0,4.1,1.9,4.1,4.1s-1.9,4.1-4.1,4.1c-2.3,0-4.1-1.9-4.1-4.1S63.6,233.8,65.9,233.8 M65.9,229.8
							c-4.5,0-8.1,3.6-8.1,8.1c0,4.5,3.6,8.1,8.1,8.1c4.5,0,8.1-3.6,8.1-8.1C74,233.4,70.4,229.8,65.9,229.8L65.9,229.8z"/>
					</g>
					<text class="works-3" transform="matrix(1 0 0 1 109.0215 242.1216)"><tspan x="0" y="0" class="st1 st2">iOS Developer Intern</tspan><tspan x="0" y="24" class="st3 st2">Jojonomic Pte. Ltd.</tspan><tspan x="0" y="48" class="st3 st2">June - Aug 2017, Jakarta</tspan></text>
					
				</g>
			</g>
			</svg>



			<h5 class="skills-txt"> Skills </h5>
			<?xml version="1.0" encoding="utf-8"?>
			<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
			<svg version="1.1" class="skills" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400"
				 viewBox="0 0 450 330" style="enable-background:new 0 0 450 335;" xml:space="preserve">
			<style type="text/css">
				.skills .st0{fill:#FFFFFF;}
				.skills .st1{font-family:'Lato-Medium';}
				.skills .st2{font-size:14px;}
				.skills .st3{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
			</style>
			<g id="Layer_1">
			</g>
			<g>
				<g id="skills-text-1">
					<g class="skills-1">
						<circle class="st0" cx="65.3" cy="33.1" r="6.1"/>
						<path d="M65.3,29c2.3,0,4.1,1.9,4.1,4.1s-1.9,4.1-4.1,4.1s-4.1-1.9-4.1-4.1S63,29,65.3,29 M65.3,25c-4.5,0-8.1,3.6-8.1,8.1
							s3.6,8.1,8.1,8.1s8.1-3.6,8.1-8.1S69.8,25,65.3,25L65.3,25z"/>
					</g>
					<text class="skills-1" transform="matrix(1 1.368330e-03 -1.368330e-03 1 107.1298 36.9973)"><tspan x="0" y="0" class="st1 st2">HTML5/CSS</tspan><tspan x="0" y="24" class="st1 st2">Javascript</tspan><tspan x="0" y="48" class="st1 st2">Jquery, Node.js, AngularJs</tspan><tspan x="0" y="72" class="st1 st2">Python</tspan><tspan x="0" y="96" class="st1 st2">Django</tspan><tspan x="0" y="120" class="st1 st2">Ruby on Rails</tspan><tspan x="0" y="144" class="st1 st2">Obj C</tspan></text>
				</g>
				<g>
					<line class="st3 sl-1" x1="65" y1="40" x2="65" y2="233"/>
				</g>
				<g id="skills-text-2">
					<g class="skills-2">
						<circle class="st0" cx="65.9" cy="237.9" r="6.1"/>
						<path d="M65.9,233.8c2.3,0,4.1,1.9,4.1,4.1c0,2.3-1.9,4.1-4.1,4.1c-2.3,0-4.1-1.9-4.1-4.1C61.7,235.6,63.6,233.8,65.9,233.8
							 M65.9,229.8c-4.5,0-8.1,3.6-8.1,8.1s3.6,8.1,8.1,8.1c4.5,0,8.1-3.6,8.1-8.1S70.4,229.8,65.9,229.8L65.9,229.8z"/>
					</g>
					<text class="skills-2" transform="matrix(1 1.368330e-03 -1.368330e-03 1 107.1298 244.9973)"><tspan x="0" y="0" class="st1 st2">Adobe Illustrator, Experience Design,</tspan><tspan x="0" y="24" class="st1 st2">Photoshop, Premiere</tspan><tspan x="0" y="48" class="st1 st2">Final Cut Pro</tspan><tspan x="0" y="72" class="st1 st2">Marvell app</tspan></text>
					
				</g>
			</g>
			</svg>


		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/about.js' %}"></script>

{% endblock %}