<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}</title>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

	<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSPlugin.min.js'></script>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/sizzle/2.2.0/sizzle.js'></script>


	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</head>

<body>
	<div id="mainlayer2">
  		<h4>hello</h4>
  	</div>
	<svg width="100%" height="100%" id="mainlayer">
  		<rect width="100%" height="100%" style="fill:#1b2735" />
  	</svg>
  	

	<nav>
		<div class="logo" onclick="redirectTo('{% url 'homeTwo' %}')">
			<svg id="Layer_3" height="50" width="50" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.51 69.16"><defs>
			<style>.cls-1{fill:#1b2735;}.cls-2{font-size:63.15px;letter-spacing:-0.01em;}.cls-2,.cls-3{fill:#fff;font-family:PlayfairDisplay-Regular, Playfair Display;}.cls-3{font-size:13.73px;}.cls-4{letter-spacing:-0.02em;}</style></defs><title>asset-03</title><circle class="cls-1" cx="27.26" cy="33.17" r="27.26"/><text class="cls-2" transform="translate(2.48 53.93)">k</text><text class="cls-3" transform="translate(31.65 33.57)"><tspan class="cls-4">1</tspan><tspan x="4.85" y="0">3</tspan></text></svg>
		</div>

		<div class="normal">
			<ul>
				<li onclick="redirectTo('{% url 'homeTwo' %}')">HOME</li>
				<li onclick="redirectTo('{% url 'about' %}')">ABOUT</li>
				<li onclick="redirectTo('{% url 'works:workIndex' %}')">WORKS</li>
				<li onclick="redirectTo('{% url 'blog:blogs' %}')">BLOGS</li>
				<!-- <li>NOT WORK</li> -->
			</ul>
		</div>

		<div class="open">
			<span class="cls"></span>
			<span>
				<ul class="sub-menu">
					<li onclick="redirectTo('{% url 'homeTwo' %}')">HOME</a></li>
					<li onclick="redirectTo('{% url 'about' %}')">ABOUT</li>
					<li onclick="redirectTo('{% url 'works:workIndex' %}')">WORKS</li>
					<li onclick="redirectTo('{% url 'blog:blogs' %}')">BLOGS</li>
					<!-- <li>NOT WORK</li> -->
				</ul>
			</span>
			<span class="cls"></span>
		</div>	

	</nav>

  <div class="main-container" style="padding-bottom:30px;">
  	{% block content %}{% endblock %}
  </div>

  <div style="clear: both"></div>
	<footer id="footer-modif">Work of Keyne Oei. Mail me ! <a href="href="mailto:keynekassapa13@gmail.com"><i class="fas fa-envelope"></i></a> Follow me on
		<a href="http://www.behance.net/keynekassapa13" target="_blank">Behance,</a> 
		<a href="https://www.linkedin.com/in/keynekassapa/" target="_blank">Linkedin,</a>
		<a href="https://medium.com/@keynekassapa13/" target="_blank">Medium,</a>
		<a href="http://instagram.com/keynekassapa13/">Instagram</a>
		
	</footer>
	
</body>

</html>
