{% extends "application.html" %}

{% block title %}Welcome! - Keyne Oei{% endblock %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<!-- Start of the website -->

<style type="text/css">
	#footer-modif {
		display: none;
		position: fixed;
	}
</style>
<div class="welcome-section content-hidden">
	<div id='stars'></div>
	<div id='stars2'></div>
	<div id='stars3'></div>
    <div class="content-wrap">
    	<p class="fade-text">Hi,</p>
    	<p class="fade-text"><br>Welcome to</p>
        <ul class="fly-in-text">
            <li>K</li>
            <li>E</li>
            <li>Y</li>
            <li>N</li>
            <li>E</li>
            <li>&nbsp</li>
            <li>O</li>
            <li>.</li>
        </ul>

        <p class="fade-text-2">Website Portfolio</p>
        <a href="#" class="cta">
		  <span>DISCOVER MORE</span>
		  <svg width="13px" height="10px" viewBox="0 0 13 10">
		    <path d="M1,5 L11,5"></path>
		    <polyline points="8 1 12 5 8 9"></polyline>
		  </svg>
		</a>
    </div>
</div> 

<!-- Content of the website -->
<div class="container hide-content">
	<h1 class="text-bold page-title">What I do ...</h1>

	<div class="row">
		<div class="col-sm-6 ">

			<svg id="Layer_2" class="layer2" height="300" width="100%" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 350"><defs>
			<style>
			</style></defs><title>asset</title><circle class="cls-1" cx="182.82" cy="205.46" r="142.18"/><g id="Layer_5" data-name="Layer 5"><path class="cls-2" d="M243.26,301.06a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M230.92,277.26a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M222.1,286.08a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M239.74,278.28a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M238.85,283.57a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M218.58,304.72a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M208,289.74a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M211.53,298.55a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M98.69,320.59a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M104.86,300.31a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M106.62,303.84a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M114.56,296.79a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M154.23,317.06a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M154.23,313.54a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M147.17,312.66a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M159.52,279.16a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M166.57,279.16a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M166.57,286.21a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M193.9,323.23a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M265.3,313.54a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M135.71,304.59a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M113.68,310.76a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M165.69,270.21a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M192.13,320.46a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M194.78,333.68a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M98.69,321.34a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M267.94,308.12a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M272.35,319.58a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M132.19,296.39c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/><path class="cls-2" d="M226.51,302.56c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/><path class="cls-2" d="M243.95,110.35a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M231.6,86.55a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M222.79,95.37a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M240.42,87.57a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M239.54,92.85a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M219.26,114a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M208.68,99a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M212.21,107.84a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M99.37,129.88a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M105.54,109.6a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M107.31,113.13a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M115.24,106.08a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M154.91,126.35a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M154.91,122.83a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M147.86,121.95a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M160.2,88.45a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M167.25,88.45a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M167.25,95.5a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M194.58,132.52a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M266,122.83a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M136.4,113.88a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M114.36,120.05a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M166.37,79.5a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M192.82,129.75a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M195.46,143a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M99.37,130.63a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M268.63,117.41a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M273,128.87a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M132.87,105.68c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/><path class="cls-2" d="M227.2,111.85c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/></g><g id="Layer_3" data-name="Layer 3"><path class="cls-3 UIUXLay" d="M180.3,316.18l-119-89.75a2.82,2.82,0,0,1-.09-4.73l121.11-94.13a5.07,5.07,0,0,1,6.06.1l114,94.12a2.78,2.78,0,0,1-.18,4.54L186.08,316.09A5,5,0,0,1,180.3,316.18Z"/><path class="cls-4 UIUXLay" d="M178.75,270.81,73.28,191.29a2.5,2.5,0,0,1-.08-4.19l107.3-83.4a4.49,4.49,0,0,1,5.37.09l101,83.39a2.46,2.46,0,0,1-.16,4L183.87,270.73A4.46,4.46,0,0,1,178.75,270.81Z"/><path class="cls-5 UIUXLay" d="M179.17,234.32,82,161a2.31,2.31,0,0,1-.07-3.86l98.87-76.84a4.14,4.14,0,0,1,4.95.08l93.07,76.83a2.27,2.27,0,0,1-.15,3.7l-94.76,73.28A4.11,4.11,0,0,1,179.17,234.32Z"/></g><g id="Layer_2" data-name="Layer 2"><path class="cls-6 UIUXPen" d="M176.67,267.66V12s0-6.84,7.52-6.15,7.52,5.47,7.52,5.47V267.66l-6.15,28a1.37,1.37,0,1,1-2.73,0Z"/><polygon class="cls-7 UIUXPen" points="176.45 30.96 191.89 30.82 191.89 40.85 176.45 40.85 176.45 30.96"/><line class="cls-8 UIUXPen" x1="179.89" y1="282.63" x2="188.48" y2="282.63"/><path class="cls-9 UIUXPen" d="M176.67,267.66V12s0-6.84,7.52-6.15,7.52,5.47,7.52,5.47V267.66l-6.15,28a1.37,1.37,0,1,1-2.73,0Z"/></g></svg>

			<div class="box-text">
				<h4 class="box-text-1"> UI / UX Designer </h4>

				<br><p class="box-text-1">
				Freelance User Interface Designer with focus on User Experience and Usability from Berlin.</p>
			</div>
			
			
		</div>

		<div class="col-sm-6">

			<svg id="Layer_1" class="layer1" height="300" width="100%" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 350"><defs><style></style></defs><title>asset</title>
			<circle class="cls-1" cx="180" cy="204.09" r="142.18"/><g id="Layer_4" data-name="Layer 4"><path class="cls-2" d="M122.22,302.83a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M134.56,326.63a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M143.38,317.81a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M125.75,324.12a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M126.63,318.83a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M146.91,297.67a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M157.48,312.66a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M154,303.84a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M266.79,281.8a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M260.62,302.08a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M258.86,298.55a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M250.93,305.6a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M211.26,285.33a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M211.26,288.85a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M218.31,289.74a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M206,323.23a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M198.92,323.23a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M198.92,316.18a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M171.59,279.16a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M100.18,288.85a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M229.77,299.3a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M251.81,293.13a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M199.8,333.68a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M173.35,283.43a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M170.71,270.21a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M266.79,282.55a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M97.54,295.78a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M93.13,284.32a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M233.3,310.5c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/><path class="cls-2" d="M139,304.33c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/></g><g id="Layer_5" data-name="Layer 5"><path class="cls-2" d="M125,91.61a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M137.3,115.41a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M146.11,106.6a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M128.48,112.9a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M129.36,107.61a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M149.64,86.45a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M160.22,101.44a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M156.69,92.62a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M269.53,70.58a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M263.36,90.86a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M261.6,87.33a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M253.66,94.39a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M214,74.11a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M214,77.64a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M221,78.52a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M208.7,112a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M201.65,112a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M201.65,105a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M174.32,67.94a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M102.92,77.64a.75.75,0,0,0,0-1.5.75.75,0,0,0,0,1.5Z"/><path class="cls-2" d="M232.5,88.08a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M254.54,81.91a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M202.53,122.46a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M176.09,72.22a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M173.44,59a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M269.53,71.33a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M100.27,84.56a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M95.87,73.1a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"/><path class="cls-2" d="M236,99.28c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/><path class="cls-2" d="M141.71,93.11c3.86,0,3.87-6,0-6s-3.87,6,0,6Z"/></g>
			<rect class="cls-3 FrontEndBox" x="54.91" y="96.09" width="252.86" height="166.45" rx="5" ry="5"/><path class="cls-4 FrontEndBox" d="M60.25,96.43H302.48a5,5,0,0,1,5,5v26.44a0,0,0,0,1,0,0H55.25a0,0,0,0,1,0,0V101.43A5,5,0,0,1,60.25,96.43Z"/>
			<circle class="cls-5 FrontEndCircle" cx="73.02" cy="112.15" r="8.89"/>
			<circle class="cls-6 FrontEndCircle" cx="96.26" cy="112.15" r="8.89"/>
			<circle class="cls-7 FrontEndCircle" cx="118.82" cy="112.15" r="8.89"/>

			<path class="cls-8 FrontEndCircle" d="M208,174.05l25.08,19.71-26.87,21.5s-1.79,5.37,0,7.17,5.37,5.37,9,3.58,37.62-26.87,37.62-26.87a7.85,7.85,0,0,0,1.79-5.37c0-3.58-1.79-3.58-3.58-5.37s-32.25-25.08-32.25-25.08-7.17-3.58-10.75,0S204.39,170.47,208,174.05Z"/>
			<path class="cls-8 FrontEndCircle" d="M152.07,214.83,127,195.13l26.87-21.5s1.79-5.37,0-7.17-5.37-5.37-9-3.58-37.62,26.87-37.62,26.87a7.85,7.85,0,0,0-1.79,5.37c0,3.58,1.79,3.58,3.58,5.37s32.25,25.08,32.25,25.08,7.17,3.58,10.75,0S155.65,218.42,152.07,214.83Z"/>
			</svg>

			<div class="box-text">
				<h4 class="box-text-2"> Front End Developer </h4>

				<br><p class="box-text-2">
				Freelance User Interface Designer with focus on User Experience and Usability from Berlin.</p>
			</div>
		</div>

		<a href="#" class="cta">
		  <span>DISCOVER MORE</span>
		  <svg width="13px" height="10px" viewBox="0 0 13 10">
		    <path d="M1,5 L11,5"></path>
		    <polyline points="8 1 12 5 8 9"></polyline>
		  </svg>
		</a>
	</div>

	

	

	
	<!-- <svg id="test" height="300" width="600" 
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	  <image x="0" y="0" height="300" width="300"  xlink:href="{% static 'images/asset-01.svg' %}" />
	  <image x="300" y="0" height="300" width="300"  xlink:href="{% static 'images/asset-02.svg' %}" />
	</svg> -->
</div>


<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

<!--
{% load static %}
<img src="{% static 'test.JPG' %}" style="height:100px">

-->

{% endblock %}
