* {
	margin: 0;
	padding: 0;
}

.main-container {
	padding-bottom: 0px !important;
}

.container a {
	color: black;
	text-decoration: none;
}

.container a:hover {
	color: #558ccc !important;
}

.container i{
	color: #172d47 !important;
}

body {
	height: 100%;
	width: 100%;
	background-color: white;
}

.box-text {
	padding: 5% 3%;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.4px;
	font-size: 85%;
}

.box-text h4{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.profile-pic {
	max-width: 23%;
	max-height: auto;
	position: fixed;
	bottom: 0;
	left: 20%;
}

.box-text h5{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.hidden-text {
	display: none;
}

@media (max-width: 575.98px) { 
	.profile-pic{
		position: inherit;
	}

}





