* {
	margin: 0;
	padding: 0;
}

.blog-box {
	font-family: 'Lato', sans-serif;
	height: 200px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	margin: 1% 0;
	padding: 10% 8%;
	font-size: 16px;
	transition: all 0.4s ease;
	border-radius: 5px;
}

.blog-box .datePub {
	font-family: 'Playfair Display', serif;
	font-size: 12px;
}

.blog-box .content img {
	display: none;
	background-color: pink;
}

.blog-box h3{
	margin-top: 5%;
	font-weight: 700;
	font-size: 100%;
}

.blog-box .content {
	font-weight: 400;
	font-size: 60%;
	padding-top: 5px;
}

.blog-attr {
	color: black;
	text-decoration: none;
}

.blog-attr:hover{
	color: black;
	text-decoration: none;
	
}

.blog-box:hover{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.col-sm-4 {
	padding: 5px 10px !important;
}