* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: white;
}

/* Content of the website */
.layer1 .cls-1{fill:#1b2735;}
.layer1 .cls-2, .layer1 .cls-3{fill:#fff;}
.layer1 .cls-3, .layer1 .cls-4, .layer1 .cls-5, .layer1 .cls-6, .layer1 .cls-7{stroke:#333;stroke-miterlimit:10;}
.layer1 .cls-3, .layer1 .cls-4{stroke-width:7px;}
.layer1 .cls-4{fill:#ddd;}
.layer1 .cls-5{fill:#cc6a6a;}
.layer1 .cls-5, .layer1 .cls-6, .layer1 .cls-7{stroke-width:5px;}
.layer1 .cls-6{fill:#dddd6b;}
.layer1 .cls-7{fill:#81bc7d;}
.layer1 .cls-8{fill:#333;}

.layer2 .cls-1{fill:#1b2735;}
.layer2 .cls-2, .layer2 .cls-6{fill:#fff;}
.layer2 .cls-3{fill:#2b3e51;}
.layer2 .cls-3, .layer2 .cls-4, .layer2 .cls-5{stroke:#fff;stroke-width:6px;}
.layer2 .cls-3, .layer2 .cls-4, .layer2 .cls-5, .layer2 .cls-6, .layer2 .cls-8, .layer2 .cls-9{stroke-miterlimit:10;}
.layer2 .cls-4{fill:#435f75;}
.layer2 .cls-5{fill:#6692aa;}
.layer2 .cls-6,.layer2 .cls-8,.layer2 .cls-9{stroke:#1b2735;}
.layer2 .cls-6,.layer2 .cls-9{stroke-width:5px;}
.layer2 .cls-7{fill:#cc6a6a;}
.layer2 .cls-8,.layer2 .cls-9{fill:none;}
.layer2 .cls-8{stroke-width:4px;}

.layer1, .layer2{transition: transform .2s ease-in-out;}
.layer1:hover, .layer2:hover{
	transform: scale(1.05);
}

.work-link{color: black; text-decoration: none;}
.work-link:hover{color: #558ccc; text-decoration: none;}

.hide-content{
	display: none;
}

.row {
	margin-top: 5%;
}

.box-text {
	padding: 5% 20%;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.4px;
}

.box-text h4{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.welcome-section .content-wrap .enter-button {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #adff2f;
    opacity: 1;
    transition: all 1s ease 7s;
}

.container .cta {
  position: relative;
  margin-top: 3%;
  padding: 15px 22px;
  transition: opacity 1s ease 7s;
  opacity: 1;
  text-decoration: none;
  color: black;
}
.container .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(27, 39, 53, 0.5);
  width: 112px;
  height: 56px;
  transition: all 0.3s ease;
}
.container .cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.container .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.container .cta:hover:before {
  width: 100%;
  background: #1b2735;
}

.container .cta:hover {
	color: white;
}

.container .cta:hover svg {
  transform: translateX(0);
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
}
.container .cta:active {
  transform: scale(0.96);
}


/* Start of the website */

.welcome-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, #1b2735, #172d47, #365982, #172d47 , #1b2735);
    background-size: 400% 400%;
    overflow: hidden;

    -webkit-animation: Gradient 25s ease infinite;
	-moz-animation: Gradient 25s ease infinite;
	animation: Gradient 25s linear infinite;
}

@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	100% {background-position: 100% 50%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	100% {background-position: 100% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	100% {background-position: 100% 50%}
}

.welcome-section .content-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.welcome-section .content-wrap .fade-text {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	color: white;
	opacity: 1;
	letter-spacing: 0px;
	line-height: 20px;
}

.welcome-section .content-wrap .fade-text:nth-child(1) {
	transition: all 2s ease-out 1s;
}

.welcome-section .content-wrap .fade-text:nth-child(2) {
	transition: all 2s ease-out 2s;
}

.welcome-section .content-wrap .fade-text-2 {
	font-family: 'Lato', sans-serif;
	display: block;
	color: white;
	opacity: 1;
	transition: all 2s ease-out 5s;
	text-align: right;
	letter-spacing: 0px;
	line-height: 20px;
}

.welcome-section .content-wrap .fly-in-text {
    list-style: none;
}
.welcome-section .content-wrap .fly-in-text li {
    display: inline-block;
    margin-right: 20px;
    font-size: 3em;
    color: #fff;
    opacity: 1;
    transition: all 2s ease 3s;
    line-height: 30px;
}
.welcome-section .content-wrap .fly-in-text li:last-child {
    margin-right: 0;
}
.welcome-section .content-wrap .enter-button {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #adff2f;
    opacity: 1;
    transition: all 1s ease 7s;
}

.welcome-section .content-wrap .cta {
  position: relative;
  margin: auto;
  padding: 15px 22px;
  transition: opacity 1s ease 7s;
  opacity: 1;
  text-decoration: none;
  color: white;
}
.welcome-section .content-wrap .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.5);
  width: 112px;
  height: 56px;
  transition: all 0.3s ease;
}
.welcome-section .content-wrap .cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.welcome-section .content-wrap .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: white;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.welcome-section .content-wrap .cta:hover:before {
  width: 100%;
  background: white;
}

.welcome-section .content-wrap .cta:hover {
	color: #1b2735;
}

.welcome-section .content-wrap .cta:hover svg {
  transform: translateX(0);
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #1b2735;
  stroke-width: 2;
}
.welcome-section .content-wrap .cta:active {
  transform: scale(0.96);
}



.welcome-section.content-hidden .content-wrap .fade-text {opacity: 0;}
.welcome-section.content-hidden .content-wrap .fade-text-2 {opacity: 0;}

.welcome-section.content-hidden .content-wrap .fly-in-text li { opacity: 0; }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(1) { transform: translate3d(-100px, 0, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(2) { transform: translate3d(100px, 100px, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(3) { transform: translate3d(-100px, -200px, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(4) { transform: translate3d(100px, -300px, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(5) { transform: translate3d(-100px, 250px, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(6) { transform: translate3d(100px, 150px, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(7) { transform: translate3d(-100px, -150px, 0); }
.welcome-section.content-hidden .content-wrap .fly-in-text li:nth-child(8) { transform: translate3d(200px, -150px, 0); }

.welcome-section.content-hidden .content-wrap .enter-button { opacity: 0; transform: translate3d(0, 30px, 0); }
.welcome-section.content-hidden .content-wrap .cta { opacity: 0; transform: translate3d(0, 30px, 0); }

@media (min-width: 800px) {
    .welcome-section .content-wrap .fly-in-text li { font-size: 4em; }
    .welcome-section .content-wrap .enter-button { font-size: 1.5em; }
}



#stars {
  width: 0.5px;
  height: 0.5px;
  background: transparent;
  box-shadow: 1457px 1671px #FFF , 1240px 1005px #FFF , 140px 1711px #FFF , 521px 763px #FFF , 1933px 161px #FFF , 919px 611px #FFF , 1751px 77px #FFF , 1656px 250px #FFF , 574px 1068px #FFF , 1348px 502px #FFF , 1043px 530px #FFF , 486px 1407px #FFF , 1533px 1178px #FFF , 9px 1656px #FFF , 1143px 1216px #FFF , 188px 1394px #FFF , 423px 1398px #FFF , 429px 804px #FFF , 1167px 256px #FFF , 285px 981px #FFF , 1467px 129px #FFF , 223px 1877px #FFF , 943px 1178px #FFF , 1666px 1461px #FFF , 89px 1583px #FFF , 1612px 25px #FFF , 150px 1712px #FFF , 146px 1262px #FFF , 1481px 371px #FFF , 1183px 585px #FFF , 272px 890px #FFF , 992px 899px #FFF , 1019px 992px #FFF , 864px 1203px #FFF , 1058px 1635px #FFF , 790px 1827px #FFF , 1189px 619px #FFF , 901px 534px #FFF , 839px 611px #FFF , 987px 695px #FFF , 556px 1723px #FFF , 1416px 762px #FFF , 918px 1639px #FFF , 220px 1504px #FFF , 976px 1163px #FFF , 536px 832px #FFF , 752px 1978px #FFF , 1144px 725px #FFF , 1793px 1338px #FFF , 36px 1990px #FFF , 1495px 1287px #FFF , 65px 760px #FFF , 360px 1962px #FFF , 1261px 1846px #FFF , 870px 1112px #FFF , 1634px 691px #FFF , 1947px 1895px #FFF , 745px 1233px #FFF , 1800px 1985px #FFF , 1126px 1276px #FFF , 373px 443px #FFF , 1441px 1494px #FFF , 1415px 1043px #FFF , 1772px 1019px #FFF , 1179px 800px #FFF , 1870px 1828px #FFF , 886px 1793px #FFF , 1352px 1790px #FFF , 580px 627px #FFF , 71px 89px #FFF , 744px 1288px #FFF , 592px 870px #FFF , 539px 186px #FFF , 295px 114px #FFF , 176px 21px #FFF , 774px 891px #FFF , 997px 343px #FFF , 623px 1977px #FFF , 567px 228px #FFF , 499px 565px #FFF , 1269px 1002px #FFF , 841px 1786px #FFF , 938px 389px #FFF , 1541px 1708px #FFF , 1229px 1985px #FFF , 1586px 1416px #FFF , 632px 1109px #FFF , 488px 820px #FFF , 667px 594px #FFF , 1784px 1111px #FFF , 1720px 1269px #FFF , 410px 1932px #FFF , 1221px 654px #FFF , 1950px 1627px #FFF , 971px 681px #FFF , 1155px 1167px #FFF , 1318px 546px #FFF , 1977px 608px #FFF , 975px 1872px #FFF , 1123px 16px #FFF , 1008px 1716px #FFF , 57px 1354px #FFF , 991px 1268px #FFF , 371px 1620px #FFF , 1316px 1997px #FFF , 1882px 8px #FFF , 1793px 1990px #FFF , 1234px 629px #FFF , 800px 1424px #FFF , 202px 124px #FFF , 1928px 1176px #FFF , 1450px 1260px #FFF , 723px 27px #FFF , 1969px 655px #FFF , 476px 724px #FFF , 31px 1213px #FFF , 735px 760px #FFF , 1694px 1962px #FFF , 404px 1339px #FFF , 1673px 66px #FFF , 381px 590px #FFF , 720px 948px #FFF , 134px 299px #FFF , 119px 1433px #FFF , 1290px 64px #FFF , 537px 376px #FFF , 944px 1937px #FFF , 60px 534px #FFF , 616px 450px #FFF , 1441px 1368px #FFF , 1030px 1688px #FFF , 514px 210px #FFF , 899px 1981px #FFF , 330px 1216px #FFF , 1173px 745px #FFF , 539px 1642px #FFF , 1641px 686px #FFF , 107px 1709px #FFF , 850px 390px #FFF , 1878px 607px #FFF , 1442px 754px #FFF , 1612px 1012px #FFF , 916px 217px #FFF , 842px 1856px #FFF , 708px 1496px #FFF , 146px 723px #FFF , 1433px 1210px #FFF , 1304px 1540px #FFF , 776px 398px #FFF , 272px 766px #FFF , 110px 1434px #FFF , 546px 418px #FFF , 1987px 1595px #FFF , 1282px 1209px #FFF , 938px 873px #FFF , 1786px 1848px #FFF , 705px 1565px #FFF , 785px 225px #FFF , 1832px 916px #FFF , 1547px 869px #FFF , 805px 1891px #FFF , 1157px 1016px #FFF , 1092px 161px #FFF , 748px 1547px #FFF , 1369px 691px #FFF , 932px 686px #FFF , 437px 358px #FFF , 612px 223px #FFF , 1124px 1010px #FFF , 1137px 558px #FFF , 570px 1988px #FFF , 272px 587px #FFF , 1239px 1324px #FFF , 1272px 958px #FFF , 670px 100px #FFF , 678px 1489px #FFF , 1145px 1392px #FFF , 1032px 1858px #FFF , 1185px 699px #FFF , 1975px 1002px #FFF , 992px 1736px #FFF , 242px 831px #FFF , 1084px 1469px #FFF , 541px 1389px #FFF , 742px 1887px #FFF , 242px 698px #FFF , 543px 1907px #FFF , 247px 1879px #FFF , 1472px 1422px #FFF , 1534px 212px #FFF , 1626px 225px #FFF , 1940px 29px #FFF , 915px 1416px #FFF , 1833px 1934px #FFF , 566px 1300px #FFF , 175px 1658px #FFF , 414px 764px #FFF , 1810px 1310px #FFF , 505px 115px #FFF , 454px 470px #FFF , 367px 975px #FFF , 1691px 1285px #FFF , 903px 835px #FFF , 1706px 1372px #FFF , 843px 988px #FFF , 458px 1985px #FFF , 1678px 1915px #FFF , 35px 63px #FFF , 23px 621px #FFF , 234px 87px #FFF , 641px 89px #FFF , 1958px 1723px #FFF , 1252px 155px #FFF , 1482px 635px #FFF , 1050px 480px #FFF , 1926px 168px #FFF , 423px 973px #FFF , 368px 1747px #FFF , 491px 288px #FFF , 946px 446px #FFF , 41px 629px #FFF , 1315px 1780px #FFF , 1656px 1875px #FFF , 767px 46px #FFF , 1957px 609px #FFF , 885px 1608px #FFF , 1114px 593px #FFF , 511px 1138px #FFF , 49px 3px #FFF , 438px 444px #FFF , 1724px 628px #FFF , 153px 1795px #FFF , 527px 1820px #FFF , 477px 921px #FFF , 1142px 96px #FFF , 697px 602px #FFF , 27px 1499px #FFF , 839px 581px #FFF , 215px 336px #FFF , 1230px 579px #FFF , 658px 414px #FFF , 599px 1422px #FFF , 1622px 372px #FFF , 1213px 1721px #FFF , 8px 1148px #FFF , 786px 1527px #FFF , 1064px 1802px #FFF , 1215px 777px #FFF , 678px 656px #FFF , 1977px 1998px #FFF , 1320px 289px #FFF , 1850px 800px #FFF , 946px 1830px #FFF , 605px 762px #FFF , 699px 1212px #FFF , 1602px 577px #FFF , 1562px 601px #FFF , 1845px 1972px #FFF , 1578px 85px #FFF , 105px 1896px #FFF , 265px 825px #FFF , 1289px 1711px #FFF , 1937px 1646px #FFF , 522px 228px #FFF , 701px 1976px #FFF , 172px 425px #FFF , 1505px 1417px #FFF , 1638px 1339px #FFF , 389px 1824px #FFF , 1462px 1963px #FFF , 246px 1447px #FFF , 88px 1254px #FFF , 1067px 1184px #FFF , 1918px 1762px #FFF , 1809px 860px #FFF , 1001px 710px #FFF , 1604px 1442px #FFF , 1138px 1738px #FFF , 197px 459px #FFF , 947px 1758px #FFF , 446px 1896px #FFF , 672px 684px #FFF , 1225px 168px #FFF , 1609px 552px #FFF , 1835px 1742px #FFF , 406px 183px #FFF , 1841px 1171px #FFF , 615px 1771px #FFF , 1187px 865px #FFF , 172px 707px #FFF , 902px 810px #FFF , 1188px 1745px #FFF , 1160px 1886px #FFF , 789px 1981px #FFF , 1046px 1057px #FFF , 336px 1281px #FFF , 136px 549px #FFF , 137px 1449px #FFF , 438px 1291px #FFF , 983px 655px #FFF , 1213px 318px #FFF , 238px 1083px #FFF , 868px 1537px #FFF , 78px 157px #FFF , 176px 1522px #FFF , 1586px 1535px #FFF , 411px 1785px #FFF , 1535px 1104px #FFF , 658px 1452px #FFF , 1295px 620px #FFF , 178px 1944px #FFF , 474px 1983px #FFF , 1770px 1951px #FFF , 319px 185px #FFF , 718px 358px #FFF , 235px 1089px #FFF , 662px 1795px #FFF , 1128px 1062px #FFF , 1941px 324px #FFF , 22px 384px #FFF , 473px 1801px #FFF , 992px 1894px #FFF , 1536px 955px #FFF , 542px 1733px #FFF , 429px 331px #FFF , 1171px 833px #FFF , 1640px 883px #FFF , 577px 639px #FFF , 1588px 1481px #FFF , 193px 476px #FFF , 1147px 1887px #FFF , 544px 1100px #FFF , 229px 1777px #FFF , 587px 632px #FFF , 1965px 199px #FFF , 413px 33px #FFF , 981px 1015px #FFF , 150px 187px #FFF , 995px 734px #FFF , 1994px 1393px #FFF , 1681px 133px #FFF , 1291px 246px #FFF , 1262px 324px #FFF , 1756px 864px #FFF , 693px 95px #FFF , 1758px 865px #FFF , 490px 1084px #FFF , 516px 1703px #FFF , 1135px 1133px #FFF , 1577px 756px #FFF , 1844px 159px #FFF , 148px 241px #FFF , 1435px 69px #FFF , 1304px 975px #FFF , 1907px 1563px #FFF , 1166px 6px #FFF , 1806px 1361px #FFF , 60px 949px #FFF , 523px 23px #FFF , 1510px 738px #FFF , 1815px 916px #FFF , 1904px 1338px #FFF , 1581px 1169px #FFF , 1200px 596px #FFF , 24px 288px #FFF , 1680px 1762px #FFF , 1345px 1642px #FFF , 1424px 1170px #FFF , 642px 244px #FFF , 582px 873px #FFF , 1328px 1564px #FFF , 1832px 951px #FFF , 302px 977px #FFF , 1202px 353px #FFF , 405px 1628px #FFF , 151px 1836px #FFF , 638px 176px #FFF , 36px 273px #FFF , 1858px 24px #FFF , 1367px 488px #FFF , 108px 291px #FFF , 794px 1821px #FFF , 599px 741px #FFF , 788px 1959px #FFF , 824px 626px #FFF , 783px 105px #FFF , 1187px 3px #FFF , 1489px 1929px #FFF , 1231px 596px #FFF , 96px 1103px #FFF , 791px 384px #FFF , 104px 1063px #FFF , 1309px 1486px #FFF , 857px 1493px #FFF , 1456px 1872px #FFF , 452px 467px #FFF , 1591px 619px #FFF , 696px 1986px #FFF , 196px 1322px #FFF , 903px 901px #FFF , 539px 1791px #FFF , 833px 827px #FFF , 1603px 1941px #FFF , 1052px 1513px #FFF , 1090px 744px #FFF , 1404px 1786px #FFF , 1050px 1410px #FFF , 1479px 1397px #FFF , 495px 1955px #FFF , 888px 1323px #FFF , 1552px 1793px #FFF , 706px 927px #FFF , 638px 1234px #FFF , 342px 1056px #FFF , 101px 967px #FFF , 1434px 1648px #FFF , 1694px 851px #FFF , 185px 624px #FFF , 635px 231px #FFF , 1474px 499px #FFF , 1117px 1684px #FFF , 750px 1768px #FFF , 1216px 1007px #FFF , 240px 1358px #FFF , 178px 1417px #FFF , 920px 598px #FFF , 1021px 816px #FFF , 513px 875px #FFF , 910px 1222px #FFF , 1605px 1716px #FFF , 1173px 279px #FFF , 967px 1398px #FFF , 1525px 1833px #FFF , 1710px 1837px #FFF , 118px 1250px #FFF , 1832px 1801px #FFF , 867px 1595px #FFF , 1385px 1924px #FFF , 680px 540px #FFF , 515px 416px #FFF , 664px 1162px #FFF , 1105px 1411px #FFF , 170px 119px #FFF , 1576px 1039px #FFF , 1945px 345px #FFF , 1761px 1054px #FFF , 1314px 735px #FFF , 188px 1677px #FFF , 1338px 1831px #FFF , 247px 1424px #FFF , 1798px 1180px #FFF , 513px 17px #FFF , 699px 39px #FFF , 205px 526px #FFF , 1120px 145px #FFF , 529px 265px #FFF , 744px 656px #FFF , 43px 1823px #FFF , 1162px 1490px #FFF , 1447px 612px #FFF , 1192px 1161px #FFF , 975px 1838px #FFF , 1615px 1402px #FFF , 916px 903px #FFF , 1879px 1328px #FFF , 1828px 1744px #FFF , 346px 1786px #FFF , 492px 733px #FFF , 1121px 1538px #FFF , 447px 571px #FFF , 1938px 1473px #FFF , 12px 1211px #FFF , 802px 458px #FFF , 214px 1153px #FFF , 1373px 1094px #FFF , 54px 1287px #FFF , 340px 1794px #FFF , 1313px 349px #FFF , 850px 1945px #FFF , 13px 1075px #FFF , 1602px 616px #FFF , 981px 1235px #FFF , 842px 734px #FFF , 953px 532px #FFF , 662px 653px #FFF , 889px 1587px #FFF , 1670px 1828px #FFF , 54px 1472px #FFF , 880px 242px #FFF , 1298px 336px #FFF , 1890px 619px #FFF , 115px 1857px #FFF , 649px 1349px #FFF , 432px 1753px #FFF , 958px 1758px #FFF , 715px 1470px #FFF , 675px 1484px #FFF , 472px 95px #FFF , 962px 1845px #FFF , 1181px 707px #FFF , 978px 1768px #FFF , 214px 1508px #FFF , 362px 1170px #FFF , 52px 455px #FFF , 1601px 202px #FFF , 1625px 1135px #FFF , 858px 1374px #FFF , 1799px 1772px #FFF , 1890px 632px #FFF , 799px 334px #FFF , 1020px 554px #FFF , 1018px 872px #FFF , 1147px 1208px #FFF , 44px 1226px #FFF , 200px 1892px #FFF , 60px 181px #FFF , 1417px 1491px #FFF , 1959px 1248px #FFF , 1830px 407px #FFF , 1951px 1525px #FFF , 71px 1222px #FFF , 774px 1324px #FFF , 434px 1603px #FFF , 238px 1626px #FFF , 989px 208px #FFF , 1881px 1418px #FFF , 1152px 1198px #FFF , 109px 236px #FFF , 1262px 785px #FFF , 285px 896px #FFF , 1017px 347px #FFF , 534px 567px #FFF , 1361px 396px #FFF , 1244px 1256px #FFF , 579px 872px #FFF , 1453px 185px #FFF , 1578px 737px #FFF , 866px 1475px #FFF , 1949px 1999px #FFF , 78px 1576px #FFF , 211px 1679px #FFF , 1380px 1803px #FFF , 1018px 901px #FFF , 1108px 1525px #FFF , 1489px 603px #FFF , 1878px 1349px #FFF , 320px 634px #FFF , 785px 1189px #FFF , 1304px 414px #FFF , 346px 414px #FFF , 1105px 1869px #FFF , 376px 276px #FFF , 444px 556px #FFF , 571px 1548px #FFF , 1458px 1477px #FFF , 883px 1001px #FFF , 1381px 443px #FFF , 1298px 1517px #FFF , 231px 411px #FFF , 408px 1103px #FFF , 229px 165px #FFF , 558px 524px #FFF , 1156px 249px #FFF , 962px 622px #FFF , 1657px 254px #FFF , 1133px 1629px #FFF , 425px 1043px #FFF , 1699px 1139px #FFF , 430px 24px #FFF , 1434px 792px #FFF , 1817px 1517px #FFF , 1653px 1689px #FFF , 716px 1281px #FFF , 1404px 1757px #FFF , 1460px 1642px #FFF , 1399px 778px #FFF , 1747px 616px #FFF , 257px 593px #FFF , 456px 403px #FFF , 22px 215px #FFF , 713px 186px #FFF , 605px 963px #FFF , 508px 1390px #FFF , 1095px 340px #FFF , 964px 228px #FFF , 306px 1937px #FFF , 1951px 452px #FFF , 1279px 939px #FFF , 1207px 1836px #FFF , 1393px 611px #FFF , 237px 1881px #FFF , 1621px 749px #FFF , 1561px 1020px #FFF , 1839px 411px #FFF , 1246px 1411px #FFF , 652px 1095px #FFF , 222px 69px #FFF , 1734px 1046px #FFF , 1243px 1641px #FFF , 1340px 1340px #FFF , 1908px 774px #FFF , 961px 1434px #FFF , 750px 161px #FFF , 1659px 1715px #FFF , 379px 1937px #FFF , 1943px 1810px #FFF , 1755px 132px #FFF , 1452px 827px #FFF , 132px 1928px #FFF , 859px 526px #FFF , 1815px 1507px #FFF , 1418px 423px #FFF , 1316px 1280px #FFF , 105px 1175px #FFF , 1675px 1992px #FFF , 626px 343px #FFF , 420px 209px #FFF , 399px 811px #FFF , 1016px 1527px #FFF , 960px 629px #FFF , 1523px 42px #FFF , 354px 1188px #FFF , 520px 1750px #FFF , 391px 397px #FFF , 1545px 417px #FFF , 314px 1529px #FFF , 142px 870px #FFF , 1409px 1583px #FFF , 504px 28px #FFF , 23px 592px #FFF , 1981px 162px #FFF , 880px 1709px #FFF , 264px 264px #FFF , 691px 1772px #FFF , 983px 1129px #FFF , 382px 1932px #FFF , 1401px 1251px #FFF , 142px 409px #FFF , 295px 177px #FFF , 1923px 423px #FFF , 1814px 973px #FFF , 886px 1370px #FFF , 1374px 1040px #FFF , 124px 47px #FFF , 217px 1012px #FFF , 1515px 1703px #FFF , 1624px 1692px #FFF , 1273px 1680px #FFF , 175px 1172px #FFF , 282px 106px #FFF , 1322px 598px #FFF , 1425px 806px #FFF , 1124px 1907px #FFF , 724px 1140px #FFF , 1735px 506px #FFF , 1531px 1253px #FFF , 532px 1468px #FFF , 1438px 1679px #FFF , 947px 1591px #FFF , 883px 831px #FFF , 747px 1944px #FFF , 1341px 767px #FFF , 1577px 1829px #FFF , 1700px 1592px #FFF , 1112px 751px #FFF , 1018px 955px #FFF , 715px 1237px #FFF , 198px 1224px #FFF , 644px 715px #FFF , 160px 1235px #FFF , 506px 1078px #FFF , 255px 906px #FFF , 1484px 967px #FFF , 787px 1430px #FFF , 737px 1605px #FFF , 1584px 1520px #FFF , 1079px 1802px #FFF , 1797px 1601px #FFF , 1090px 1055px #FFF , 907px 1958px #FFF , 613px 739px #FFF , 673px 1480px #FFF , 1808px 936px #FFF , 855px 1536px #FFF , 1109px 106px #FFF , 1507px 1058px #FFF , 434px 222px #FFF , 1061px 304px #FFF , 1306px 1422px #FFF , 9px 1464px #FFF , 985px 1701px #FFF , 1679px 1536px #FFF , 556px 635px #FFF , 738px 1279px #FFF , 762px 1211px #FFF , 1589px 1588px #FFF , 390px 1045px #FFF , 553px 27px #FFF , 1493px 974px #FFF , 533px 513px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 0.5px;
  height: 0.5px;
  background: transparent;
  box-shadow: 1457px 1671px #FFF , 1240px 1005px #FFF , 140px 1711px #FFF , 521px 763px #FFF , 1933px 161px #FFF , 919px 611px #FFF , 1751px 77px #FFF , 1656px 250px #FFF , 574px 1068px #FFF , 1348px 502px #FFF , 1043px 530px #FFF , 486px 1407px #FFF , 1533px 1178px #FFF , 9px 1656px #FFF , 1143px 1216px #FFF , 188px 1394px #FFF , 423px 1398px #FFF , 429px 804px #FFF , 1167px 256px #FFF , 285px 981px #FFF , 1467px 129px #FFF , 223px 1877px #FFF , 943px 1178px #FFF , 1666px 1461px #FFF , 89px 1583px #FFF , 1612px 25px #FFF , 150px 1712px #FFF , 146px 1262px #FFF , 1481px 371px #FFF , 1183px 585px #FFF , 272px 890px #FFF , 992px 899px #FFF , 1019px 992px #FFF , 864px 1203px #FFF , 1058px 1635px #FFF , 790px 1827px #FFF , 1189px 619px #FFF , 901px 534px #FFF , 839px 611px #FFF , 987px 695px #FFF , 556px 1723px #FFF , 1416px 762px #FFF , 918px 1639px #FFF , 220px 1504px #FFF , 976px 1163px #FFF , 536px 832px #FFF , 752px 1978px #FFF , 1144px 725px #FFF , 1793px 1338px #FFF , 36px 1990px #FFF , 1495px 1287px #FFF , 65px 760px #FFF , 360px 1962px #FFF , 1261px 1846px #FFF , 870px 1112px #FFF , 1634px 691px #FFF , 1947px 1895px #FFF , 745px 1233px #FFF , 1800px 1985px #FFF , 1126px 1276px #FFF , 373px 443px #FFF , 1441px 1494px #FFF , 1415px 1043px #FFF , 1772px 1019px #FFF , 1179px 800px #FFF , 1870px 1828px #FFF , 886px 1793px #FFF , 1352px 1790px #FFF , 580px 627px #FFF , 71px 89px #FFF , 744px 1288px #FFF , 592px 870px #FFF , 539px 186px #FFF , 295px 114px #FFF , 176px 21px #FFF , 774px 891px #FFF , 997px 343px #FFF , 623px 1977px #FFF , 567px 228px #FFF , 499px 565px #FFF , 1269px 1002px #FFF , 841px 1786px #FFF , 938px 389px #FFF , 1541px 1708px #FFF , 1229px 1985px #FFF , 1586px 1416px #FFF , 632px 1109px #FFF , 488px 820px #FFF , 667px 594px #FFF , 1784px 1111px #FFF , 1720px 1269px #FFF , 410px 1932px #FFF , 1221px 654px #FFF , 1950px 1627px #FFF , 971px 681px #FFF , 1155px 1167px #FFF , 1318px 546px #FFF , 1977px 608px #FFF , 975px 1872px #FFF , 1123px 16px #FFF , 1008px 1716px #FFF , 57px 1354px #FFF , 991px 1268px #FFF , 371px 1620px #FFF , 1316px 1997px #FFF , 1882px 8px #FFF , 1793px 1990px #FFF , 1234px 629px #FFF , 800px 1424px #FFF , 202px 124px #FFF , 1928px 1176px #FFF , 1450px 1260px #FFF , 723px 27px #FFF , 1969px 655px #FFF , 476px 724px #FFF , 31px 1213px #FFF , 735px 760px #FFF , 1694px 1962px #FFF , 404px 1339px #FFF , 1673px 66px #FFF , 381px 590px #FFF , 720px 948px #FFF , 134px 299px #FFF , 119px 1433px #FFF , 1290px 64px #FFF , 537px 376px #FFF , 944px 1937px #FFF , 60px 534px #FFF , 616px 450px #FFF , 1441px 1368px #FFF , 1030px 1688px #FFF , 514px 210px #FFF , 899px 1981px #FFF , 330px 1216px #FFF , 1173px 745px #FFF , 539px 1642px #FFF , 1641px 686px #FFF , 107px 1709px #FFF , 850px 390px #FFF , 1878px 607px #FFF , 1442px 754px #FFF , 1612px 1012px #FFF , 916px 217px #FFF , 842px 1856px #FFF , 708px 1496px #FFF , 146px 723px #FFF , 1433px 1210px #FFF , 1304px 1540px #FFF , 776px 398px #FFF , 272px 766px #FFF , 110px 1434px #FFF , 546px 418px #FFF , 1987px 1595px #FFF , 1282px 1209px #FFF , 938px 873px #FFF , 1786px 1848px #FFF , 705px 1565px #FFF , 785px 225px #FFF , 1832px 916px #FFF , 1547px 869px #FFF , 805px 1891px #FFF , 1157px 1016px #FFF , 1092px 161px #FFF , 748px 1547px #FFF , 1369px 691px #FFF , 932px 686px #FFF , 437px 358px #FFF , 612px 223px #FFF , 1124px 1010px #FFF , 1137px 558px #FFF , 570px 1988px #FFF , 272px 587px #FFF , 1239px 1324px #FFF , 1272px 958px #FFF , 670px 100px #FFF , 678px 1489px #FFF , 1145px 1392px #FFF , 1032px 1858px #FFF , 1185px 699px #FFF , 1975px 1002px #FFF , 992px 1736px #FFF , 242px 831px #FFF , 1084px 1469px #FFF , 541px 1389px #FFF , 742px 1887px #FFF , 242px 698px #FFF , 543px 1907px #FFF , 247px 1879px #FFF , 1472px 1422px #FFF , 1534px 212px #FFF , 1626px 225px #FFF , 1940px 29px #FFF , 915px 1416px #FFF , 1833px 1934px #FFF , 566px 1300px #FFF , 175px 1658px #FFF , 414px 764px #FFF , 1810px 1310px #FFF , 505px 115px #FFF , 454px 470px #FFF , 367px 975px #FFF , 1691px 1285px #FFF , 903px 835px #FFF , 1706px 1372px #FFF , 843px 988px #FFF , 458px 1985px #FFF , 1678px 1915px #FFF , 35px 63px #FFF , 23px 621px #FFF , 234px 87px #FFF , 641px 89px #FFF , 1958px 1723px #FFF , 1252px 155px #FFF , 1482px 635px #FFF , 1050px 480px #FFF , 1926px 168px #FFF , 423px 973px #FFF , 368px 1747px #FFF , 491px 288px #FFF , 946px 446px #FFF , 41px 629px #FFF , 1315px 1780px #FFF , 1656px 1875px #FFF , 767px 46px #FFF , 1957px 609px #FFF , 885px 1608px #FFF , 1114px 593px #FFF , 511px 1138px #FFF , 49px 3px #FFF , 438px 444px #FFF , 1724px 628px #FFF , 153px 1795px #FFF , 527px 1820px #FFF , 477px 921px #FFF , 1142px 96px #FFF , 697px 602px #FFF , 27px 1499px #FFF , 839px 581px #FFF , 215px 336px #FFF , 1230px 579px #FFF , 658px 414px #FFF , 599px 1422px #FFF , 1622px 372px #FFF , 1213px 1721px #FFF , 8px 1148px #FFF , 786px 1527px #FFF , 1064px 1802px #FFF , 1215px 777px #FFF , 678px 656px #FFF , 1977px 1998px #FFF , 1320px 289px #FFF , 1850px 800px #FFF , 946px 1830px #FFF , 605px 762px #FFF , 699px 1212px #FFF , 1602px 577px #FFF , 1562px 601px #FFF , 1845px 1972px #FFF , 1578px 85px #FFF , 105px 1896px #FFF , 265px 825px #FFF , 1289px 1711px #FFF , 1937px 1646px #FFF , 522px 228px #FFF , 701px 1976px #FFF , 172px 425px #FFF , 1505px 1417px #FFF , 1638px 1339px #FFF , 389px 1824px #FFF , 1462px 1963px #FFF , 246px 1447px #FFF , 88px 1254px #FFF , 1067px 1184px #FFF , 1918px 1762px #FFF , 1809px 860px #FFF , 1001px 710px #FFF , 1604px 1442px #FFF , 1138px 1738px #FFF , 197px 459px #FFF , 947px 1758px #FFF , 446px 1896px #FFF , 672px 684px #FFF , 1225px 168px #FFF , 1609px 552px #FFF , 1835px 1742px #FFF , 406px 183px #FFF , 1841px 1171px #FFF , 615px 1771px #FFF , 1187px 865px #FFF , 172px 707px #FFF , 902px 810px #FFF , 1188px 1745px #FFF , 1160px 1886px #FFF , 789px 1981px #FFF , 1046px 1057px #FFF , 336px 1281px #FFF , 136px 549px #FFF , 137px 1449px #FFF , 438px 1291px #FFF , 983px 655px #FFF , 1213px 318px #FFF , 238px 1083px #FFF , 868px 1537px #FFF , 78px 157px #FFF , 176px 1522px #FFF , 1586px 1535px #FFF , 411px 1785px #FFF , 1535px 1104px #FFF , 658px 1452px #FFF , 1295px 620px #FFF , 178px 1944px #FFF , 474px 1983px #FFF , 1770px 1951px #FFF , 319px 185px #FFF , 718px 358px #FFF , 235px 1089px #FFF , 662px 1795px #FFF , 1128px 1062px #FFF , 1941px 324px #FFF , 22px 384px #FFF , 473px 1801px #FFF , 992px 1894px #FFF , 1536px 955px #FFF , 542px 1733px #FFF , 429px 331px #FFF , 1171px 833px #FFF , 1640px 883px #FFF , 577px 639px #FFF , 1588px 1481px #FFF , 193px 476px #FFF , 1147px 1887px #FFF , 544px 1100px #FFF , 229px 1777px #FFF , 587px 632px #FFF , 1965px 199px #FFF , 413px 33px #FFF , 981px 1015px #FFF , 150px 187px #FFF , 995px 734px #FFF , 1994px 1393px #FFF , 1681px 133px #FFF , 1291px 246px #FFF , 1262px 324px #FFF , 1756px 864px #FFF , 693px 95px #FFF , 1758px 865px #FFF , 490px 1084px #FFF , 516px 1703px #FFF , 1135px 1133px #FFF , 1577px 756px #FFF , 1844px 159px #FFF , 148px 241px #FFF , 1435px 69px #FFF , 1304px 975px #FFF , 1907px 1563px #FFF , 1166px 6px #FFF , 1806px 1361px #FFF , 60px 949px #FFF , 523px 23px #FFF , 1510px 738px #FFF , 1815px 916px #FFF , 1904px 1338px #FFF , 1581px 1169px #FFF , 1200px 596px #FFF , 24px 288px #FFF , 1680px 1762px #FFF , 1345px 1642px #FFF , 1424px 1170px #FFF , 642px 244px #FFF , 582px 873px #FFF , 1328px 1564px #FFF , 1832px 951px #FFF , 302px 977px #FFF , 1202px 353px #FFF , 405px 1628px #FFF , 151px 1836px #FFF , 638px 176px #FFF , 36px 273px #FFF , 1858px 24px #FFF , 1367px 488px #FFF , 108px 291px #FFF , 794px 1821px #FFF , 599px 741px #FFF , 788px 1959px #FFF , 824px 626px #FFF , 783px 105px #FFF , 1187px 3px #FFF , 1489px 1929px #FFF , 1231px 596px #FFF , 96px 1103px #FFF , 791px 384px #FFF , 104px 1063px #FFF , 1309px 1486px #FFF , 857px 1493px #FFF , 1456px 1872px #FFF , 452px 467px #FFF , 1591px 619px #FFF , 696px 1986px #FFF , 196px 1322px #FFF , 903px 901px #FFF , 539px 1791px #FFF , 833px 827px #FFF , 1603px 1941px #FFF , 1052px 1513px #FFF , 1090px 744px #FFF , 1404px 1786px #FFF , 1050px 1410px #FFF , 1479px 1397px #FFF , 495px 1955px #FFF , 888px 1323px #FFF , 1552px 1793px #FFF , 706px 927px #FFF , 638px 1234px #FFF , 342px 1056px #FFF , 101px 967px #FFF , 1434px 1648px #FFF , 1694px 851px #FFF , 185px 624px #FFF , 635px 231px #FFF , 1474px 499px #FFF , 1117px 1684px #FFF , 750px 1768px #FFF , 1216px 1007px #FFF , 240px 1358px #FFF , 178px 1417px #FFF , 920px 598px #FFF , 1021px 816px #FFF , 513px 875px #FFF , 910px 1222px #FFF , 1605px 1716px #FFF , 1173px 279px #FFF , 967px 1398px #FFF , 1525px 1833px #FFF , 1710px 1837px #FFF , 118px 1250px #FFF , 1832px 1801px #FFF , 867px 1595px #FFF , 1385px 1924px #FFF , 680px 540px #FFF , 515px 416px #FFF , 664px 1162px #FFF , 1105px 1411px #FFF , 170px 119px #FFF , 1576px 1039px #FFF , 1945px 345px #FFF , 1761px 1054px #FFF , 1314px 735px #FFF , 188px 1677px #FFF , 1338px 1831px #FFF , 247px 1424px #FFF , 1798px 1180px #FFF , 513px 17px #FFF , 699px 39px #FFF , 205px 526px #FFF , 1120px 145px #FFF , 529px 265px #FFF , 744px 656px #FFF , 43px 1823px #FFF , 1162px 1490px #FFF , 1447px 612px #FFF , 1192px 1161px #FFF , 975px 1838px #FFF , 1615px 1402px #FFF , 916px 903px #FFF , 1879px 1328px #FFF , 1828px 1744px #FFF , 346px 1786px #FFF , 492px 733px #FFF , 1121px 1538px #FFF , 447px 571px #FFF , 1938px 1473px #FFF , 12px 1211px #FFF , 802px 458px #FFF , 214px 1153px #FFF , 1373px 1094px #FFF , 54px 1287px #FFF , 340px 1794px #FFF , 1313px 349px #FFF , 850px 1945px #FFF , 13px 1075px #FFF , 1602px 616px #FFF , 981px 1235px #FFF , 842px 734px #FFF , 953px 532px #FFF , 662px 653px #FFF , 889px 1587px #FFF , 1670px 1828px #FFF , 54px 1472px #FFF , 880px 242px #FFF , 1298px 336px #FFF , 1890px 619px #FFF , 115px 1857px #FFF , 649px 1349px #FFF , 432px 1753px #FFF , 958px 1758px #FFF , 715px 1470px #FFF , 675px 1484px #FFF , 472px 95px #FFF , 962px 1845px #FFF , 1181px 707px #FFF , 978px 1768px #FFF , 214px 1508px #FFF , 362px 1170px #FFF , 52px 455px #FFF , 1601px 202px #FFF , 1625px 1135px #FFF , 858px 1374px #FFF , 1799px 1772px #FFF , 1890px 632px #FFF , 799px 334px #FFF , 1020px 554px #FFF , 1018px 872px #FFF , 1147px 1208px #FFF , 44px 1226px #FFF , 200px 1892px #FFF , 60px 181px #FFF , 1417px 1491px #FFF , 1959px 1248px #FFF , 1830px 407px #FFF , 1951px 1525px #FFF , 71px 1222px #FFF , 774px 1324px #FFF , 434px 1603px #FFF , 238px 1626px #FFF , 989px 208px #FFF , 1881px 1418px #FFF , 1152px 1198px #FFF , 109px 236px #FFF , 1262px 785px #FFF , 285px 896px #FFF , 1017px 347px #FFF , 534px 567px #FFF , 1361px 396px #FFF , 1244px 1256px #FFF , 579px 872px #FFF , 1453px 185px #FFF , 1578px 737px #FFF , 866px 1475px #FFF , 1949px 1999px #FFF , 78px 1576px #FFF , 211px 1679px #FFF , 1380px 1803px #FFF , 1018px 901px #FFF , 1108px 1525px #FFF , 1489px 603px #FFF , 1878px 1349px #FFF , 320px 634px #FFF , 785px 1189px #FFF , 1304px 414px #FFF , 346px 414px #FFF , 1105px 1869px #FFF , 376px 276px #FFF , 444px 556px #FFF , 571px 1548px #FFF , 1458px 1477px #FFF , 883px 1001px #FFF , 1381px 443px #FFF , 1298px 1517px #FFF , 231px 411px #FFF , 408px 1103px #FFF , 229px 165px #FFF , 558px 524px #FFF , 1156px 249px #FFF , 962px 622px #FFF , 1657px 254px #FFF , 1133px 1629px #FFF , 425px 1043px #FFF , 1699px 1139px #FFF , 430px 24px #FFF , 1434px 792px #FFF , 1817px 1517px #FFF , 1653px 1689px #FFF , 716px 1281px #FFF , 1404px 1757px #FFF , 1460px 1642px #FFF , 1399px 778px #FFF , 1747px 616px #FFF , 257px 593px #FFF , 456px 403px #FFF , 22px 215px #FFF , 713px 186px #FFF , 605px 963px #FFF , 508px 1390px #FFF , 1095px 340px #FFF , 964px 228px #FFF , 306px 1937px #FFF , 1951px 452px #FFF , 1279px 939px #FFF , 1207px 1836px #FFF , 1393px 611px #FFF , 237px 1881px #FFF , 1621px 749px #FFF , 1561px 1020px #FFF , 1839px 411px #FFF , 1246px 1411px #FFF , 652px 1095px #FFF , 222px 69px #FFF , 1734px 1046px #FFF , 1243px 1641px #FFF , 1340px 1340px #FFF , 1908px 774px #FFF , 961px 1434px #FFF , 750px 161px #FFF , 1659px 1715px #FFF , 379px 1937px #FFF , 1943px 1810px #FFF , 1755px 132px #FFF , 1452px 827px #FFF , 132px 1928px #FFF , 859px 526px #FFF , 1815px 1507px #FFF , 1418px 423px #FFF , 1316px 1280px #FFF , 105px 1175px #FFF , 1675px 1992px #FFF , 626px 343px #FFF , 420px 209px #FFF , 399px 811px #FFF , 1016px 1527px #FFF , 960px 629px #FFF , 1523px 42px #FFF , 354px 1188px #FFF , 520px 1750px #FFF , 391px 397px #FFF , 1545px 417px #FFF , 314px 1529px #FFF , 142px 870px #FFF , 1409px 1583px #FFF , 504px 28px #FFF , 23px 592px #FFF , 1981px 162px #FFF , 880px 1709px #FFF , 264px 264px #FFF , 691px 1772px #FFF , 983px 1129px #FFF , 382px 1932px #FFF , 1401px 1251px #FFF , 142px 409px #FFF , 295px 177px #FFF , 1923px 423px #FFF , 1814px 973px #FFF , 886px 1370px #FFF , 1374px 1040px #FFF , 124px 47px #FFF , 217px 1012px #FFF , 1515px 1703px #FFF , 1624px 1692px #FFF , 1273px 1680px #FFF , 175px 1172px #FFF , 282px 106px #FFF , 1322px 598px #FFF , 1425px 806px #FFF , 1124px 1907px #FFF , 724px 1140px #FFF , 1735px 506px #FFF , 1531px 1253px #FFF , 532px 1468px #FFF , 1438px 1679px #FFF , 947px 1591px #FFF , 883px 831px #FFF , 747px 1944px #FFF , 1341px 767px #FFF , 1577px 1829px #FFF , 1700px 1592px #FFF , 1112px 751px #FFF , 1018px 955px #FFF , 715px 1237px #FFF , 198px 1224px #FFF , 644px 715px #FFF , 160px 1235px #FFF , 506px 1078px #FFF , 255px 906px #FFF , 1484px 967px #FFF , 787px 1430px #FFF , 737px 1605px #FFF , 1584px 1520px #FFF , 1079px 1802px #FFF , 1797px 1601px #FFF , 1090px 1055px #FFF , 907px 1958px #FFF , 613px 739px #FFF , 673px 1480px #FFF , 1808px 936px #FFF , 855px 1536px #FFF , 1109px 106px #FFF , 1507px 1058px #FFF , 434px 222px #FFF , 1061px 304px #FFF , 1306px 1422px #FFF , 9px 1464px #FFF , 985px 1701px #FFF , 1679px 1536px #FFF , 556px 635px #FFF , 738px 1279px #FFF , 762px 1211px #FFF , 1589px 1588px #FFF , 390px 1045px #FFF , 553px 27px #FFF , 1493px 974px #FFF , 533px 513px #FFF;
}

#stars2 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1603px 1116px #FFF , 534px 1594px #FFF , 1060px 755px #FFF , 562px 1820px #FFF , 686px 1080px #FFF , 1400px 717px #FFF , 707px 1942px #FFF , 865px 498px #FFF , 1637px 608px #FFF , 748px 1683px #FFF , 243px 276px #FFF , 689px 99px #FFF , 1723px 1068px #FFF , 1310px 267px #FFF , 1239px 1346px #FFF , 974px 1952px #FFF , 248px 464px #FFF , 763px 447px #FFF , 1170px 868px #FFF , 314px 1603px #FFF , 47px 1207px #FFF , 1500px 937px #FFF , 1357px 1635px #FFF , 533px 1176px #FFF , 1203px 1252px #FFF , 1434px 995px #FFF , 749px 1163px #FFF , 1112px 1393px #FFF , 1690px 1323px #FFF , 247px 1595px #FFF , 1755px 1651px #FFF , 543px 1919px #FFF , 1763px 669px #FFF , 1500px 66px #FFF , 472px 1399px #FFF , 1083px 1900px #FFF , 139px 1151px #FFF , 1156px 1225px #FFF , 642px 88px #FFF , 200px 1927px #FFF , 126px 123px #FFF , 186px 849px #FFF , 596px 1816px #FFF , 308px 441px #FFF , 1117px 727px #FFF , 473px 885px #FFF , 1509px 1563px #FFF , 433px 65px #FFF , 1037px 1366px #FFF , 1596px 669px #FFF , 785px 1210px #FFF , 1463px 644px #FFF , 1282px 1407px #FFF , 1027px 858px #FFF , 1945px 1347px #FFF , 1269px 319px #FFF , 352px 1949px #FFF , 1209px 1612px #FFF , 1748px 165px #FFF , 1262px 836px #FFF , 94px 1266px #FFF , 1724px 318px #FFF , 638px 199px #FFF , 1283px 1492px #FFF , 492px 856px #FFF , 1079px 1518px #FFF , 557px 232px #FFF , 978px 166px #FFF , 972px 1384px #FFF , 1947px 757px #FFF , 550px 472px #FFF , 1585px 1002px #FFF , 51px 1436px #FFF , 758px 1459px #FFF , 93px 1127px #FFF , 418px 723px #FFF , 111px 786px #FFF , 414px 335px #FFF , 1494px 351px #FFF , 1798px 614px #FFF , 304px 1038px #FFF , 1569px 1214px #FFF , 767px 505px #FFF , 532px 393px #FFF , 809px 1673px #FFF , 1557px 257px #FFF , 1851px 1381px #FFF , 1269px 1660px #FFF , 1113px 125px #FFF , 1185px 379px #FFF , 1406px 1116px #FFF , 353px 1529px #FFF , 1825px 937px #FFF , 1105px 1984px #FFF , 401px 366px #FFF , 1947px 295px #FFF , 133px 1264px #FFF , 1083px 1444px #FFF , 1450px 1894px #FFF , 484px 431px #FFF , 939px 57px #FFF , 1090px 1535px #FFF , 700px 950px #FFF , 735px 1982px #FFF , 1499px 733px #FFF , 1030px 139px #FFF , 199px 1720px #FFF , 817px 1402px #FFF , 1077px 363px #FFF , 924px 81px #FFF , 1431px 1049px #FFF , 761px 568px #FFF , 1835px 1388px #FFF , 1974px 533px #FFF , 909px 27px #FFF , 880px 760px #FFF , 424px 1563px #FFF , 1137px 435px #FFF , 185px 1315px #FFF , 18px 98px #FFF , 385px 1952px #FFF , 1631px 1500px #FFF , 1646px 1821px #FFF , 1255px 1310px #FFF , 93px 705px #FFF , 508px 1436px #FFF , 1523px 480px #FFF , 1677px 690px #FFF , 1293px 653px #FFF , 532px 1629px #FFF , 172px 996px #FFF , 1162px 1274px #FFF , 643px 1391px #FFF , 209px 799px #FFF , 1265px 1245px #FFF , 767px 100px #FFF , 220px 1544px #FFF , 1457px 575px #FFF , 1073px 241px #FFF , 1334px 1316px #FFF , 434px 259px #FFF , 1235px 677px #FFF , 56px 1770px #FFF , 813px 1407px #FFF , 1380px 1316px #FFF , 348px 1516px #FFF , 1739px 1255px #FFF , 92px 1734px #FFF , 687px 1435px #FFF , 1935px 1571px #FFF , 1791px 1307px #FFF , 715px 695px #FFF , 741px 1872px #FFF , 1366px 668px #FFF , 1398px 1807px #FFF , 1546px 1257px #FFF , 432px 794px #FFF , 478px 770px #FFF , 1259px 1951px #FFF , 1488px 3px #FFF , 846px 1445px #FFF , 299px 762px #FFF , 1682px 291px #FFF , 1243px 711px #FFF , 1014px 610px #FFF , 1682px 1643px #FFF , 1002px 1315px #FFF , 1043px 1489px #FFF , 1039px 1275px #FFF , 100px 122px #FFF , 1778px 1307px #FFF , 225px 934px #FFF , 172px 90px #FFF , 526px 1066px #FFF , 1876px 1295px #FFF , 1480px 1331px #FFF , 1238px 1188px #FFF , 383px 912px #FFF , 642px 1195px #FFF , 648px 630px #FFF , 1793px 292px #FFF , 1763px 1853px #FFF , 615px 1508px #FFF , 1701px 1180px #FFF , 398px 1280px #FFF , 1098px 993px #FFF , 1384px 10px #FFF , 773px 1183px #FFF , 750px 1457px #FFF , 150px 474px #FFF , 1692px 1719px #FFF , 1200px 135px #FFF , 639px 1008px #FFF , 245px 459px #FFF , 88px 1166px #FFF , 1047px 1102px #FFF , 363px 1969px #FFF , 622px 454px #FFF , 318px 1806px #FFF , 934px 656px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1603px 1116px #FFF , 534px 1594px #FFF , 1060px 755px #FFF , 562px 1820px #FFF , 686px 1080px #FFF , 1400px 717px #FFF , 707px 1942px #FFF , 865px 498px #FFF , 1637px 608px #FFF , 748px 1683px #FFF , 243px 276px #FFF , 689px 99px #FFF , 1723px 1068px #FFF , 1310px 267px #FFF , 1239px 1346px #FFF , 974px 1952px #FFF , 248px 464px #FFF , 763px 447px #FFF , 1170px 868px #FFF , 314px 1603px #FFF , 47px 1207px #FFF , 1500px 937px #FFF , 1357px 1635px #FFF , 533px 1176px #FFF , 1203px 1252px #FFF , 1434px 995px #FFF , 749px 1163px #FFF , 1112px 1393px #FFF , 1690px 1323px #FFF , 247px 1595px #FFF , 1755px 1651px #FFF , 543px 1919px #FFF , 1763px 669px #FFF , 1500px 66px #FFF , 472px 1399px #FFF , 1083px 1900px #FFF , 139px 1151px #FFF , 1156px 1225px #FFF , 642px 88px #FFF , 200px 1927px #FFF , 126px 123px #FFF , 186px 849px #FFF , 596px 1816px #FFF , 308px 441px #FFF , 1117px 727px #FFF , 473px 885px #FFF , 1509px 1563px #FFF , 433px 65px #FFF , 1037px 1366px #FFF , 1596px 669px #FFF , 785px 1210px #FFF , 1463px 644px #FFF , 1282px 1407px #FFF , 1027px 858px #FFF , 1945px 1347px #FFF , 1269px 319px #FFF , 352px 1949px #FFF , 1209px 1612px #FFF , 1748px 165px #FFF , 1262px 836px #FFF , 94px 1266px #FFF , 1724px 318px #FFF , 638px 199px #FFF , 1283px 1492px #FFF , 492px 856px #FFF , 1079px 1518px #FFF , 557px 232px #FFF , 978px 166px #FFF , 972px 1384px #FFF , 1947px 757px #FFF , 550px 472px #FFF , 1585px 1002px #FFF , 51px 1436px #FFF , 758px 1459px #FFF , 93px 1127px #FFF , 418px 723px #FFF , 111px 786px #FFF , 414px 335px #FFF , 1494px 351px #FFF , 1798px 614px #FFF , 304px 1038px #FFF , 1569px 1214px #FFF , 767px 505px #FFF , 532px 393px #FFF , 809px 1673px #FFF , 1557px 257px #FFF , 1851px 1381px #FFF , 1269px 1660px #FFF , 1113px 125px #FFF , 1185px 379px #FFF , 1406px 1116px #FFF , 353px 1529px #FFF , 1825px 937px #FFF , 1105px 1984px #FFF , 401px 366px #FFF , 1947px 295px #FFF , 133px 1264px #FFF , 1083px 1444px #FFF , 1450px 1894px #FFF , 484px 431px #FFF , 939px 57px #FFF , 1090px 1535px #FFF , 700px 950px #FFF , 735px 1982px #FFF , 1499px 733px #FFF , 1030px 139px #FFF , 199px 1720px #FFF , 817px 1402px #FFF , 1077px 363px #FFF , 924px 81px #FFF , 1431px 1049px #FFF , 761px 568px #FFF , 1835px 1388px #FFF , 1974px 533px #FFF , 909px 27px #FFF , 880px 760px #FFF , 424px 1563px #FFF , 1137px 435px #FFF , 185px 1315px #FFF , 18px 98px #FFF , 385px 1952px #FFF , 1631px 1500px #FFF , 1646px 1821px #FFF , 1255px 1310px #FFF , 93px 705px #FFF , 508px 1436px #FFF , 1523px 480px #FFF , 1677px 690px #FFF , 1293px 653px #FFF , 532px 1629px #FFF , 172px 996px #FFF , 1162px 1274px #FFF , 643px 1391px #FFF , 209px 799px #FFF , 1265px 1245px #FFF , 767px 100px #FFF , 220px 1544px #FFF , 1457px 575px #FFF , 1073px 241px #FFF , 1334px 1316px #FFF , 434px 259px #FFF , 1235px 677px #FFF , 56px 1770px #FFF , 813px 1407px #FFF , 1380px 1316px #FFF , 348px 1516px #FFF , 1739px 1255px #FFF , 92px 1734px #FFF , 687px 1435px #FFF , 1935px 1571px #FFF , 1791px 1307px #FFF , 715px 695px #FFF , 741px 1872px #FFF , 1366px 668px #FFF , 1398px 1807px #FFF , 1546px 1257px #FFF , 432px 794px #FFF , 478px 770px #FFF , 1259px 1951px #FFF , 1488px 3px #FFF , 846px 1445px #FFF , 299px 762px #FFF , 1682px 291px #FFF , 1243px 711px #FFF , 1014px 610px #FFF , 1682px 1643px #FFF , 1002px 1315px #FFF , 1043px 1489px #FFF , 1039px 1275px #FFF , 100px 122px #FFF , 1778px 1307px #FFF , 225px 934px #FFF , 172px 90px #FFF , 526px 1066px #FFF , 1876px 1295px #FFF , 1480px 1331px #FFF , 1238px 1188px #FFF , 383px 912px #FFF , 642px 1195px #FFF , 648px 630px #FFF , 1793px 292px #FFF , 1763px 1853px #FFF , 615px 1508px #FFF , 1701px 1180px #FFF , 398px 1280px #FFF , 1098px 993px #FFF , 1384px 10px #FFF , 773px 1183px #FFF , 750px 1457px #FFF , 150px 474px #FFF , 1692px 1719px #FFF , 1200px 135px #FFF , 639px 1008px #FFF , 245px 459px #FFF , 88px 1166px #FFF , 1047px 1102px #FFF , 363px 1969px #FFF , 622px 454px #FFF , 318px 1806px #FFF , 934px 656px #FFF;
}

#stars3 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 466px 436px #FFF , 193px 889px #FFF , 770px 1659px #FFF , 1010px 836px #FFF , 1291px 358px #FFF , 165px 1165px #FFF , 492px 1724px #FFF , 1106px 77px #FFF , 1144px 710px #FFF , 644px 1154px #FFF , 1009px 472px #FFF , 1417px 1527px #FFF , 108px 1738px #FFF , 1422px 1720px #FFF , 1994px 556px #FFF , 990px 1178px #FFF , 1119px 1816px #FFF , 140px 526px #FFF , 1521px 1891px #FFF , 1412px 1016px #FFF , 1656px 973px #FFF , 1269px 1812px #FFF , 822px 929px #FFF , 1025px 1010px #FFF , 262px 1116px #FFF , 822px 580px #FFF , 1458px 1572px #FFF , 408px 1278px #FFF , 1700px 285px #FFF , 1939px 1862px #FFF , 1519px 349px #FFF , 34px 1689px #FFF , 860px 337px #FFF , 794px 833px #FFF , 682px 769px #FFF , 1085px 342px #FFF , 351px 1486px #FFF , 574px 1635px #FFF , 1057px 1895px #FFF , 874px 354px #FFF , 1650px 1404px #FFF , 1787px 121px #FFF , 310px 1326px #FFF , 1607px 1461px #FFF , 812px 557px #FFF , 17px 838px #FFF , 1012px 1422px #FFF , 325px 1638px #FFF , 1289px 846px #FFF , 768px 180px #FFF , 673px 939px #FFF , 1955px 99px #FFF , 1638px 842px #FFF , 1701px 86px #FFF , 1122px 267px #FFF , 199px 889px #FFF , 895px 679px #FFF , 290px 168px #FFF , 512px 1007px #FFF , 1192px 269px #FFF , 104px 1427px #FFF , 535px 1907px #FFF , 203px 597px #FFF , 1266px 408px #FFF , 487px 1936px #FFF , 1934px 503px #FFF , 1943px 181px #FFF , 1696px 576px #FFF , 2000px 1004px #FFF , 587px 667px #FFF , 1077px 725px #FFF , 691px 166px #FFF , 286px 1494px #FFF , 372px 438px #FFF , 1596px 1942px #FFF , 1024px 1038px #FFF , 1120px 985px #FFF , 258px 703px #FFF , 442px 283px #FFF , 521px 795px #FFF , 1987px 1119px #FFF , 1744px 582px #FFF , 1256px 1949px #FFF , 112px 201px #FFF , 640px 1515px #FFF , 1593px 1984px #FFF , 1884px 1246px #FFF , 293px 1637px #FFF , 1102px 1185px #FFF , 1579px 1846px #FFF , 238px 52px #FFF , 1047px 1278px #FFF , 587px 123px #FFF , 1267px 340px #FFF , 632px 1177px #FFF , 1036px 745px #FFF , 1119px 127px #FFF , 1420px 692px #FFF , 967px 1881px #FFF , 478px 342px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 466px 436px #FFF , 193px 889px #FFF , 770px 1659px #FFF , 1010px 836px #FFF , 1291px 358px #FFF , 165px 1165px #FFF , 492px 1724px #FFF , 1106px 77px #FFF , 1144px 710px #FFF , 644px 1154px #FFF , 1009px 472px #FFF , 1417px 1527px #FFF , 108px 1738px #FFF , 1422px 1720px #FFF , 1994px 556px #FFF , 990px 1178px #FFF , 1119px 1816px #FFF , 140px 526px #FFF , 1521px 1891px #FFF , 1412px 1016px #FFF , 1656px 973px #FFF , 1269px 1812px #FFF , 822px 929px #FFF , 1025px 1010px #FFF , 262px 1116px #FFF , 822px 580px #FFF , 1458px 1572px #FFF , 408px 1278px #FFF , 1700px 285px #FFF , 1939px 1862px #FFF , 1519px 349px #FFF , 34px 1689px #FFF , 860px 337px #FFF , 794px 833px #FFF , 682px 769px #FFF , 1085px 342px #FFF , 351px 1486px #FFF , 574px 1635px #FFF , 1057px 1895px #FFF , 874px 354px #FFF , 1650px 1404px #FFF , 1787px 121px #FFF , 310px 1326px #FFF , 1607px 1461px #FFF , 812px 557px #FFF , 17px 838px #FFF , 1012px 1422px #FFF , 325px 1638px #FFF , 1289px 846px #FFF , 768px 180px #FFF , 673px 939px #FFF , 1955px 99px #FFF , 1638px 842px #FFF , 1701px 86px #FFF , 1122px 267px #FFF , 199px 889px #FFF , 895px 679px #FFF , 290px 168px #FFF , 512px 1007px #FFF , 1192px 269px #FFF , 104px 1427px #FFF , 535px 1907px #FFF , 203px 597px #FFF , 1266px 408px #FFF , 487px 1936px #FFF , 1934px 503px #FFF , 1943px 181px #FFF , 1696px 576px #FFF , 2000px 1004px #FFF , 587px 667px #FFF , 1077px 725px #FFF , 691px 166px #FFF , 286px 1494px #FFF , 372px 438px #FFF , 1596px 1942px #FFF , 1024px 1038px #FFF , 1120px 985px #FFF , 258px 703px #FFF , 442px 283px #FFF , 521px 795px #FFF , 1987px 1119px #FFF , 1744px 582px #FFF , 1256px 1949px #FFF , 112px 201px #FFF , 640px 1515px #FFF , 1593px 1984px #FFF , 1884px 1246px #FFF , 293px 1637px #FFF , 1102px 1185px #FFF , 1579px 1846px #FFF , 238px 52px #FFF , 1047px 1278px #FFF , 587px 123px #FFF , 1267px 340px #FFF , 632px 1177px #FFF , 1036px 745px #FFF , 1119px 127px #FFF , 1420px 692px #FFF , 967px 1881px #FFF , 478px 342px #FFF;
}

@keyframes animStar {
  from {
    transform: translate(0px,0px);
  }
  to {
    transform: translate(-2000px,0px);
  }
}






