body {
	font-family: 'Playfair Display', serif;
  min-height: 100%;
  position: relative;
}

html{ height:100% }

nav {
	padding-left: 15%;
	padding-top: 3%;
}

nav ul {
	margin-left: 50%;
}

nav ul li {
	float: left;
	list-style: none;
	right: .5em;
	letter-spacing: 2px;
	margin: 0px 3%;
	font-size: 70%;
	cursor: pointer;
}

#footer-modif {
  position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
   border-top: 0.5px solid black;
   text-align: center;
   background-color: white;
   font-size: 80%;
   letter-spacing: 2px;
}

#footer-modif a{
  color: black;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

#footer-modif a:hover{
  color: white;
  background-color: #1b2735;
  text-decoration: none;
}

.page-title {
	margin-top: 8%;
}

.text-bold {font-weight: 700}
.text-ebold {font-weight: 900}
.text-120 {font-size: 120%}
.text-line-15 {line-height: 15px;}

#mainlayer {
	position: absolute;
	z-index: 20;
	display: none;
}

#mainlayer2 {
	display: none;
	z-index: 22;
	width: 100%;
	height: 100%;
  

}

#mainlayer2 h4 {
	color: white;
  font-size: 80%;
  letter-spacing: 2px;
	text-align: center;
	position: relative;
	top:50%;
}

nav .logo {
	width: 50px; position: absolute; margin-top: -1%;
	transition: transform .2s ease-in-out;
}

nav .logo:hover{
	transform: scale(1.05);
	cursor: pointer;
}

.normal {display: block;}

.normal ul li{transition: all .2s ease-in-out}
.normal ul li:hover {
  transform: scale(1.2);
}

/* Hamburger */

.open {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
  z-index: 25;
}
.open:hover {
  opacity: 0.8;
}
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #1b2735;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}
.open span:nth-child(2) {
  margin-top: 25px;
}
.open span:nth-child(3) {
  margin-top: 40px;
}

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}
.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  color: white;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-top: 2%;
}
.sub-menu li:first-child {
  margin-top: 200px;
}
.sub-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
}
.sub-menu li:nth-child(2) {
  -webkit-transition-delay: 0.10s;
}
.sub-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
}
.sub-menu li:nth-child(4) {
  -webkit-transition-delay: 0.20s;
}
.sub-menu li:nth-child(5) {
  -webkit-transition-delay: 0.25s;
}
.sub-menu li a {color:white; text-decoration: none;}
.sub-menu li a:active, a:visited {color:white;}
.sub-menu li:hover {transform: scale(1.2);}

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px;
}
.oppenned span:nth-child(2) {
  overflow: visible;
}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  z-index: 100;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.oppenned span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
          transform: rotate(45deg) translateY(12px) translateX(12px);
}
.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}
.oppenned span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
          transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.oppenned li {
  margin-right: 168px;
}

.button {
  display: block;
  float: left;
  clear: both;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #10a1ea;
  overflow: hidden;
  position: relative;
}
.button:after {
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  content: "";
  position: absolute;
  height: 200px;
  width: 400px;
  -webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);
          transform: rotate(45deg) translateX(-540px) translateY(-100px);
  background: #10a1ea;
  z-index: 1;
}
.button:before {
  transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px 40px;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}
.button:hover {
  text-decoration: none;
}
.button:hover:after {
  -webkit-transform: translateX(-300px) translateY(-100px);
          transform: translateX(-300px) translateY(-100px);
}
.button:hover:before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 767.98px) { 
	.open {
		display: block;
	}

	.normal {
		display: none;
	}

  .page-title{
    margin-top: 20% !important;
 }

  .logo {
  margin-top: 3% !important;
 }
}

@media (max-width: 575.98px) {
  .main-container{
    padding: 0px 20px;
  }

  #footer-modif {
    position: static !important;
  }
}




