* {
	margin: 0;
	padding: 0;
}

.work-link{color: black; text-decoration: none;}
.work-link:hover{color: #558ccc; text-decoration: none;}


.work-box {
	font-family: 'Lato', sans-serif;
	height: 200px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	margin: 1% 0;
	font-size: 16px;
	transition: all 0.4s ease;
	border-radius: 5px;
}

.work-box:hover{
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	cursor: pointer;
}

.hover-show {
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	padding: 10% 10% !important;
	opacity: 0;
	transition: all 0.4s ease;
	position: absolute;
	color: white;
}

.hover-show .content {
	bottom: 10%;
	position: absolute;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
}

.hover-show .content h4 {
	margin-bottom: 0px;
	font-weight: 700;
}

.work-box:hover > .hover-show {
	opacity: 1;
}

.work-box:hover > .work-box-bg{
	transform: scale(0.95);
	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
}

.work-box-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 0.4s ease;
	padding: 5px 10px !important;
}

.col-sm-4 {
	padding: 5px 10px !important;
}

/* Work Detail */

.work-detail-img img {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.work-detail-img {
	margin: 10% 0;
}