{% extends "application.html" %}

{% block title %}Works - Keyne Oei{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}">
<style type="text/css">
	#footer-modif{
		position: initial !important; 
	}
</style>
<div class="container">
	<h1 class="text-bold page-title">{{ workname }}</h1>
	<div class="row">
		<div class="col-sm-6">
			{{ workcat }}
			<br/>
			See it in 
			<a href="{{workurl}}" target="_blank" class="work-link">behance!</a>
		</div>
		<div class="col-sm-6">
			{{ workdes }}
		</div>
	</div>
	<div class="work-detail-img">
		<img src="{{workpic}}" style="max-width: 100%" />
	</div>
</div>

<script type="text/javascript" src="{% static 'js/work-detail.js' %}"></script>
{% endblock %}