{% extends "application.html" %}

{% block title %}Works - Keyne Oei{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/works.css' %}">


<div class="container">
	<h1 class="text-bold page-title">Works</h1>	
	All the work is at <a href="http://www.behance.net/keynekassapa13" target="_blank" class="work-link"><i class="fab fa-behance-square"></i> Behance</a> 
	<div class="row">
		{% for i in works %}
		
		<div class="col-sm-4">
			<a href="{{i.b_id}}/">
			<div class="work-box" >
				<div class="work-box-bg" style="background-image: url('{{i.tumbn}}'); background-size: 100%;">
					
				</div>
				<div class="hover-show">
					<div class="content">
						<h4>{{ i.title| upper }}</h4>
						{{ i.category }}
					</div>
				</div>
			</div>
			</a>
		</div>
		
		{% endfor %}
	</div>

</div>

<script type="text/javascript" src="{% static 'js/work.js' %}"></script>

{% endblock %}